.App {
  /*flex: 1;*/
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url('./img/teppich.png');
  background-size: cover;
}

.footer {
  position: absolute;
  left: auto;
  right: auto;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.blackEl {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 15vh;
}

.overflow-scrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
