.card {
  display: inline-block;
  height: 100%;
  margin-left: -5px;
  margin-right: -5px;
}

.cardRot
{
  display: inline-block;
  width: 100%;
  margin-top: -5px;
  margin-bottom: -5px;
}

.blockedCard {
  opacity: 0.4;
}

.playableCard {
  opacity: 1;
  margin-bottom: 50%;
}