.scores {
    position: relative;
    background-color:rgb(0,0,0,0.7);
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 25vw;
    height: 60vh;
    border-color: black;
    border-radius: 10px;
    text-align: center;
}
.scoresInner {
    margin: 10px;
}

.scoresIconLine {
    vertical-align: middle;
    margin-right: 20px;
}

.scoresItem_highlight {
    background-color: rgba(255, 255, 255, 0.1);
}

.scoresMultiplier {
    margin-right: -20px;
}

div.scoresTable {
    position: relative;
    top: 30%;
    bottom: 0;
    margin: 10px;
}
table.scoresTable {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1.2em;
}

th.scoresModeHeader {
    border-bottom: 1px solid white;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin: 0px;
}
th.scoresHeader {
    border: 1px solid white;
    border-top: none;
    border-bottom:  1px solid white !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin: 0px;
}
.scoresTableHeader {
    font-size: 0.9em;
    padding: 0;
    height: 0.9em;
}

td.scoresItem {
    border: 1px solid gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

tr.scoresRow:last-child td {
    border-bottom: 1px solid white;
}

td.scoresIcon {
    padding: 5px;
    border: 1px solid gray;
    border-right: 1px solid white;
    border-left: none;
    text-align: right;

}

.overflow-scrolling {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}